# В первом проекте нам предстоит проанализировать данные о бронировании отелей. #

## Описание данных. ##

- <b>Hotel</b> – тип отеля (City Hotel или Resort Hotel);  
- <b>Is canceled</b> – бронирование было отменено (1) или нет (0), не отмененное считается успешным;
- <b>Lead time</b> – количество дней, прошедших между датой бронирования и датой прибытия;  
- <b>Arrival full date</b> – полная дата прибытия;
- <b>Arrival date year</b> – год прибытия;  
- <b>Arrival date month</b> – месяц прибытия;  
- <b>Arrival date week number</b> – номер недели прибытия;
- <b>Arrival date day of month</b> – день прибытия;
- <b>Stays in weekend nights</b> – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле;
- <b>Stays in week nights</b> – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле;
- <b>Stays total nights</b> – общее число забронированных ночей (сумма двух предыдущих колонок);
- <b>Adults</b> – число взрослых;
- <b>Children</b> – число детей;
- <b>Babies</b> – число младенцев;
- <b>Meal</b> – выбранный тип питания;
- <b>Country</b> – страна происхождения клиента;
- <b>Reserved room type</b> – тип зарезервированного номера;
- <b>Assigned room type</b> – тип полученного номера (может отличаться от забронированного);
- <b>Customer type</b> – тип бронирования;
- <b>Reservation status</b> – значение последнего статуса брони: 
    - <i>Canceled</i> - было отменено клиентом; 
    - <i>Check-Out</i> - клиент зарегистрировался, но уже покинул отель; 
    - <i>No-Show</i> - клиент не зарегистрировался и сообщил администрации отеля причину.
- <b>Reservation status date</b> – дата обновления статуса.

### Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. ###

In [1]:
# импортируем библиотеку pandas
import pandas as pd

In [2]:
# считываем данные в переменную df
df = pd.read_csv('bookings.csv', sep=';')

In [3]:
# отображаем кол-во строк и стобцов
df.shape

(119390, 21)

In [4]:
# отображаем тип данных столбцов
df.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [5]:
# первые 7 строк датафрейма
df.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [6]:
# удаляем пропуски
df = df.dropna()

### Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания. ###

In [42]:
# функция для корректировки наименований столбцов
def change_names(name):
    return name.replace(' ', '_').lower()

In [43]:
# используем функцию в методе rename
df = df.rename(columns=change_names)

In [44]:
# проверяем внесенные изменения
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date',
       'total_kids', 'has_kids'],
      dtype='object')

In [10]:
# приводим тип данных object в datetime
df['arrival_full_date'] = pd.to_datetime(df['arrival_full_date'])

In [11]:
# приводим тип данных object в datetime
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])

In [12]:
# приводит тип данных float в int
df['children'] = df['children'].astype(int)

### Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5. ###

In [14]:
# задаем фильтр для отображения успешных бронирований, группируем по стране, подсчитываем количество успешных бронирований
df.query('is_canceled == 0') \
    .groupby('country', as_index=False) \
    .agg({'is_canceled':'count'}) \
    .sort_values('is_canceled', ascending=False)

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069
..      ...          ...
138     SMR            1
101     MLI            1
136     SLE            1
94      MAC            1
122     PLW            1

[165 rows x 2 columns]

### На сколько ночей в среднем бронируют отели разных типов? ###

In [34]:
# группируем по типу отеля, подсчитываем среднее количество проведенных ночей всего
df.groupby('hotel', as_index=False) \
    .agg({'stays_total_nights':'mean'}) \
    .sort_values('stays_total_nights', ascending=False) \
    .round(2)

          hotel  stays_total_nights
1  Resort Hotel                4.34
0    City Hotel                2.98

### Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете? ###

In [16]:
# задаем фильтр где отображаем несовпадение полученных номеров и забронированных
df.query('assigned_room_type != reserved_room_type').shape[0]

14699

### Проанализируйте даты запланированного прибытия. На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов. ###

In [18]:
# задаем фильт для отображения успешных бронирований и года прибытия, группируем по месяцу прибытия, подсчитываем успешные бронирования
df.query('is_canceled == 0 and arrival_date_year == 2016') \
    .groupby('arrival_date_month', as_index=False) \
    .agg({'is_canceled':'count'}) \
    .sort_values('is_canceled', ascending=False)

   arrival_date_month  is_canceled
10            October         3664
8                 May         3551
11          September         3361
0               April         3345
7               March         3312
1              August         3230
6                June         3185
5                July         3059
9            November         2798
3            February         2521
2            December         2438
4             January         1658

In [19]:
# аналогичные действия, только меняем год на 2017
df.query('is_canceled == 0 and arrival_date_year == 2017') \
    .groupby('arrival_date_month', as_index=False) \
    .agg({'is_canceled':'count'}) \
    .sort_values('is_canceled', ascending=False)

  arrival_date_month  is_canceled
7                May         3551
4               July         3329
6              March         3279
5               June         3208
0              April         3188
1             August         3109
2           February         2796
3            January         2410

In [36]:
# задаем фильтр для отображения отмененных бронирований и по типу отеля, группируем по году и месяцу прибытия, подсчитываем отмененные бронирования 
df.query('is_canceled == 1 and hotel == "City Hotel"') \
    .groupby(['arrival_date_year', 'arrival_date_month']) \
    .agg({'is_canceled': 'count'}) \
    .sort_values(['arrival_date_year', 'is_canceled'], ascending=False)

                                      is_canceled
arrival_date_year arrival_date_month
2017              May                        2217
                  April                      1922
                  June                       1808
                  July                       1324
                  March                      1278
                  August                     1123
                  January                    1044
                  February                    971
2016              October                    1947
                  June                       1720
                  September                  1567
                  April                      1539
                  May                        1436
                  November                   1359
                  August                     1247
                  March                      1108
                  December                   1069
                  July                       1043
                  February                    930
                  January                     438
2015              September                  1543
                  October                    1307
                  August                     1228
                  July                        939
                  December                    668
                  November                    301

### Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение? ###

In [21]:
# подсчитываем среднее значение заданных столбцов
df[['adults', 'children', 'babies']].mean()

adults      1.858391
children    0.104207
babies      0.007948
dtype: float64

### Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми? ###

In [23]:
# создаем новый столбец, складывая существующие children и babies
df['total_kids'] =  df['children'] + df['babies']

In [24]:
# подсчитываем количество уникальных значений
df['total_kids'].value_counts()

0     109580
1       5435
2       3769
3        111
10         2
9          1
Name: total_kids, dtype: int64

In [41]:
# задаем фильтр отображения клиентов с детьми, группируем по типу отеля, подсчитываем среднее количество детей
df.query('total_kids > 0') \
    .groupby('hotel', as_index=False) \
    .agg({'total_kids': 'mean'}) \
    .round(2)

          hotel  total_kids
0    City Hotel        1.41
1  Resort Hotel        1.45

### Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше. ###

In [26]:
# создаем новый столбец с булевыми значениями
df['has_kids'] = df['total_kids'] > 0

In [28]:
# считаем churn rate
# для этого клиентов с отмененной бронью и без детей делим на всех клиентов без детей
no_kids_churn = df.query('is_canceled == 1 and has_kids == False').shape[0] / df.query('has_kids == False').shape[0]

In [29]:
# домножаем на 100 для более корректного отображения
no_kids_churn = no_kids_churn * 100

In [30]:
# округляем до 2 знаков после запятой
round(no_kids_churn, 2)

37.32

In [31]:
# считаем churn rate для другой группы
# для этого клиентов с отмененной бронью и с детьми делим на всех клиентов с детьми
yes_kids_churn = df.query('is_canceled == 1 and has_kids == True').shape[0] / df.query('has_kids == True').shape[0]

In [32]:
# домножаем на 100 для более корректного отображения
yes_kids_churn = yes_kids_churn * 100

In [33]:
# округляем до 2 знаков после запятой
round(yes_kids_churn, 2)

34.98